In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plt

In [5]:
#reading the csv files using pan
df_nas = pd.read_csv("C:\\Users\\Gacheru\\Downloads\\HistoricalPrices (4).csv")
df_spooz = pd.read_csv("C:\\Users\\Gacheru\\Downloads\\HistoricalPrices (1).csv")

In [29]:
df_spooz.describe()

               Open          High           Low         Close
count  11281.000000  11281.000000  11281.000000  11281.000000
mean    1134.004735   1140.638936   1126.656486   1134.102010
std     1017.737736   1023.324001   1011.601480   1017.795383
min       86.900000     87.520000     86.450000     86.900000
25%      308.430000    310.200000    306.880000    308.430000
50%     1016.420000   1022.590000   1004.690000   1016.100000
75%     1433.370000   1443.300000   1425.480000   1433.430000
max     4804.510000   4818.620000   4780.040000   4796.560000

In [27]:
#removing the excess dates to make the data the same
nas =df.drop(index=df.index[-1743:])
nas

           Date      Open      High       Low     Close
0      09/27/22  10955.29  11040.99  10741.02  10829.50
1      09/26/22  10833.38  11024.00  10789.05  10802.92
2      09/23/22  10952.69  10958.30  10732.72  10867.93
3      09/22/22  11167.38  11203.77  11024.64  11066.81
4      09/21/22  11466.21  11613.57  11219.00  11220.19
...         ...       ...       ...       ...       ...
11277  01/09/78    100.20    101.36    100.20    100.20
11278  01/06/78    101.66    103.00    101.65    101.66
11279  01/05/78    103.21    104.02    103.20    103.21
11280  01/04/78    103.66    103.79    103.41    103.66
11281  01/03/78    104.00    105.12    104.00    104.00

[11282 rows x 5 columns]

In [46]:
wine_four = wine_df[['fixed_acidity', 'volatile_acidity','citric_acid', 'residual_sugar']]

0        10955.29
1        10833.38
2        10952.69
3        11167.38
4        11466.21
           ...
11277      100.20
11278      101.66
11279      103.21
11280      103.66
11281      104.00
Name:  Open, Length: 11282, dtype: float64