In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plt

In [5]:
df_nas = pd.read_csv("C:\\Users\\Gacheru\\Downloads\\HistoricalPrices (4).csv")
df_spooz = pd.read_csv("C:\\Users\\Gacheru\\Downloads\\HistoricalPrices (1).csv")

In [11]:
df_spooz.tail()

           Date   Open   High    Low   Close
11276  01/09/78  90.64  91.52  90.01   90.64
11277  01/06/78  91.62  92.66  91.05   91.62
11278  01/05/78  92.74  94.53  92.51   92.74
11279  01/04/78  93.52  94.10  93.16   93.52
11280  01/03/78  93.82  95.15  93.49   93.82

In [10]:
df_nas.tail()

           Date    Open    High     Low   Close
13020  02/11/71  101.45  101.45  101.45  101.45
13021  02/10/71  100.69  100.69  100.69  100.69
13022  02/09/71  100.76  100.76  100.76  100.76
13023  02/08/71  100.84  100.84  100.84  100.84
13024  02/05/71  100.00  100.00  100.00  100.00