In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
from matplotlib import pyplot as plt

In [3]:
#reading the CSV file
df = pd.read_csv("C:\\Users\\Gacheru\\Downloads\\history.csv")
df.head()

   2021  28.71
0  2020  18.40
1  2019  31.49
2  2018  -4.38
3  2017  21.83
4  2016  11.96

In [4]:
#renaming the coloumns since they had years and return as they coloumn names

df.rename(columns = {'2021':'Year', '28.71':'% Return'}, inplace = True)

In [5]:
df.head()

   Year  % Return
0  2020     18.40
1  2019     31.49
2  2018     -4.38
3  2017     21.83
4  2016     11.96

In [6]:
#adding a new row with the missing data
new_row = pd.DataFrame({"Year":2021,"% Return":28.71},index=[0])
df = pd.concat([new_row, df]).reset_index(drop = True)

In [7]:
df.head()

   Year  % Return
0  2021     28.71
1  2020     18.40
2  2019     31.49
3  2018     -4.38
4  2017     21.83

In [8]:
df.shape

(96, 2)